*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #000;
}
.box{
    transform: rotateX(-30deg) rotateY(130deg);
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
}
@keyframes rotate{
    0%{
    transform:rotateX(-30deg) rotateY(0deg) translateY(-100px);
    }
    100%{
    transform:rotateX(-10deg)  rotateY(360deg) translateY(10px);
    }
}
.box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.box div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box div span:nth-child(2){
    background: linear-gradient(#151515,purple);
    transform: rotateY(0deg) translate3d(0,0,100px);
}
.box div span:nth-child(3){
    background: linear-gradient(#151515,purple);
    transform: rotateY(90deg) translate3d(0,0,100px);
}
.box div span:nth-child(4){
    background: linear-gradient(#151515,purple);
    transform: rotateY(180deg) translate3d(0,0,100px);
}
.box div span:nth-child(5){
    background: linear-gradient(#151515,purple);
    transform: rotateY(270deg) translate3d(0,0,100px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: #222;
    transform: rotatex(90deg) translate3d(0,0,100px);
}
.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(128, 0, 128);
    transform: translateZ(-350px);
    filter: blur(20px);
    box-shadow: 
    0 0 200px rgb(128, 0, 128,0.4),
    0 0 300px rgb(128, 0, 128,0.3),
    0 0 400px rgb(128, 0, 128,0.2),
    0 0 500px rgb(128, 0, 128,1);
}
.bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: linear-gradient(#151515,purple);
    transform: rotatex(270deg) translate3d(0,0,100px);
}
@media (max-width:400px){
    .box{
        width: 100px;
        height: 100px;
    }
    .box div span:nth-child(2){
       
        transform: rotateY(0deg) translate3d(0,0,50px);
    }
    .box div span:nth-child(3){
     
        transform: rotateY(90deg) translate3d(0,0,50px);
    }
    .box div span:nth-child(4){
       
        transform: rotateY(180deg) translate3d(0,0,50px);
    }
    .box div span:nth-child(5){
    
        transform: rotateY(270deg) translate3d(0,0,50px);
    }
    .top{
        transform:rotatex(90deg) translate3d(0,0,50px);
    }
    .bottom{
        transform:rotatex(270deg) translate3d(0,0,50px);
    }
    .top::before{
        transform: translateZ(-250px);
    }
}